[Unit]
Description=Refugee Manager Web Application Server

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/hamamatsu-pc/refugee_manager
ExecStartPre=/bin/rm -f /opt/hamamatsu-pc/refugee_manager/shared/pids/unicorn.pid
ExecStart=/usr/local/rbenv/shims/bundle exec unicorn -E staging -c /opt/hamamatsu-pc/refugee_manager/config/unicorn.conf.rb
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT

# This is based on the Unicorn::Configurator#timeout directive,
# adding a few seconds for scheduling differences:
TimeoutStopSec=62

[Install]
WantedBy=multi-user.target
